#page {
	width: 80%;
	margin: 0 auto;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	/*margin-bottom: 0px;*/
}

h2 {
}

#mantra {
	font-size:0.9em;
}

#main-content {
	margin-top: 20px;
	font-size: 0.9em;
}

#main-content ol li {
	padding: 0.05em;
}
